<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="appAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>250MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- NOTE：如果服务暂时sequenceId和X-B3-TraceId没有，可先放置占位符[-] -->
            <Pattern>%d{ISO8601} [%X{request-id}][-] [%t] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{ISO8601} [%X{request-id}][-] [%t] %-5level %logger{36} - %msg %n</Pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="appAppender"/>
    </root>
</configuration>
